<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.oman.oman_tourist_mate_fixed">
<!-- إنترنت للخرائط وطلبات الشبكة -->
<uses-permission android:name="android.permission.INTERNET" />
<!-- الموقع (Foreground) -->
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<!-- اختياري: حالة الشبكة -->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!-- اختياري: وجود GPS غير إلزامي -->
<uses-feature
       android:name="android.hardware.location.gps"
       android:required="false" />
<application
       android:name="${applicationName}"
       android:label="oman_tourist_mate_fixed"
       android:icon="@mipmap/ic_launcher">
<!-- 🔑 مفتاح خرائط جوجل (Android) -->
<meta-data
           android:name="com.google.android.geo.API_KEY"
           android:value="AIzaSyAWM3epyo-2c26vpnv3ybIANQ4UjWCA9fE" />
<activity
           android:name=".MainActivity"
           android:exported="true"
           android:launchMode="singleTop"
           android:theme="@style/LaunchTheme"
           android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
           android:hardwareAccelerated="true"
           android:windowSoftInputMode="adjustResize">
<!-- الثيم المؤقت قبل ما يشتغل Flutter -->
<meta-data
               android:name="io.flutter.embedding.android.NormalTheme"
               android:resource="@style/NormalTheme" />
<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
<!-- لا تحذفي هذا: يضمن استخدام v2 embedding -->
<meta-data
           android:name="flutterEmbedding"
           android:value="2" />
</application>
<!-- يسمح بمحرك Flutter استخدام PROCESS_TEXT (افتراضي) -->
<queries>
<intent>
<action android:name="android.intent.action.PROCESS_TEXT" />
<data android:mimeType="text/plain" />
</intent>
</queries>
</manifest>